body{
    background: linear-gradient(pink, green, violet)
}
#wer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#f1{
    font-family: "Alfa Slab One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: -5px 3px 3px black;
    color: violet;
    animation: glow 0.5s infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 5px violet;
  }
  to {
    text-shadow:
      0 0 10px white,
      0 0 20px black,
      0 0 40px purple;
  }
}

#img{
    width: 200px;
    margin-top: 100px;
    border: 3px solid violet;
    border-radius: 50%;
}


#h2{
   color: violet;
}
.mwa{
  text-align: center;
  color: violet;
  margin-top: 50px;
}
.gif{
  border: 10px solid black;
  border-radius: 50px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-image: url("box.webp");
  background-size: cover;
}
#gif-1:hover{
background-image: url("giphy.webp");
}
#dragon:hover{
background-image: url("dragon.webp");
}
p a{
  background-color: white;
}
#p{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
